<section class="contact" id="contact">
  <div class="container">
    <h2>Contact Me</h2>
    <span class="sepertor"></span>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 contact__info">
        <ul>
          <li>
            <i class="fa-solid fa-location-dot"></i> Zarzir, Northen District, Israel
          </li>
          <li>
            <i class="fa-solid fa-envelope-open-text"></i> m.mazarib@hotmail.com
          </li>
        </ul>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="contact__form">
          <form netlify action="https://formsubmit.co/m.mazarib@hotmail.com" method="POST">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>name</mat-label>
              <input matInput required />
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput required />
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Subject</mat-label>
              <input matInput required />
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Message</mat-label>
              <textarea required matInput placeholder="lets talk..."></textarea>
            </mat-form-field>
            <button mat-raised-button type="submit">submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
