<section class="about" id="about">
  <div class="container">
    <h2>About</h2>
    <span class="seperator"></span>
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <div class="about__image img-container">
          <img
            src="https://picsum.photos/800/800"
            alt="My Image"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-lg-9 col-md-12">
        <div class="about__content">
          <p>
            I am self though front-end Web developer who is passionate about
            building awesome websites and applications, I have currently learned
            and used HTML, CSS, SCSS, Javascript and Angular-js. On personal
            level, I am self-driven and hard working. I am able to adapt very
            quick and overall I am very curious. Also, I am really friendly who
            can fit in any team. my current skills are:
          </p>
          <div class="about__list">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12">
                <ul>
                  <li>
                    <i class="fas fa-chevron-right"></i> HTML5.
                  </li>
                  <li>
                    <i class="fas fa-chevron-right"></i> CSS3.
                  </li>
                  <li>
                    <i class="fas fa-chevron-right"></i> SCSS.
                  </li>
                  <li>
                    <i class="fas fa-chevron-right"></i> Javascript.
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <ul>
                  <li>
                    <i class="fas fa-chevron-right"></i> Angular-js.
                  </li>
                  <li>
                    <i class="fas fa-chevron-right"></i> Python.
                  </li>
                  <li>
                    <i class="fas fa-chevron-right"></i> MySQL.
                  </li>
                  <li>
                    <i class="fas fa-chevron-right"></i> PHP.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section>
