<div class="header" [ngClass]="{ 'header--active': isActive }">
  <div class="container">
    <section class="header__image">
      <div class="row">
        <div class="col-lg-12">
          <div class="header__image__container">
            <img class="img-fluid" src="https://picsum.photos/300/300" alt="" />
          </div>
          <h2 class="text-center">majd odeh</h2>
          <h4 class="text-center">software practical engineer</h4>
        </div>
      </div>
    </section>

    <div class="header__links">
      <div class="d-flex text-center">
        <a target="_blank" href="https://facebook.com">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a target="_blank" href="https://facebook.com">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a target="_blank" href="https://github.com/majd443">
          <i class="fa-brands fa-github"></i>
        </a>
        <a target="_blank" href="https://facebook.com">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
    </div>

    <section class="header__nav">
      <nav>
        <ul>
          <li>
            <a href="#hero">home</a>
          </li>
          <li>
            <a href="#about">about</a>
          </li>
          <li>
            <a href="#resume">Resume</a>
          </li>
          <li>
            <a href="#portfolio">portfolio</a>
          </li>
          <li>
            <a href="#contact">contact</a>
          </li>
        </ul>
      </nav>
    </section>
  </div>
</div>

<div class="menu-btn-container">
  <button (click)="toggleMenu()" mat-fab>
    <i class="fas fa-bars"></i>
  </button>
</div>
