<section class="resume" id="resume">
  <div class="resume__skills">
    <div class="container">
      <h2>skills</h2>
      <span class="seperator"> </span>

      <ul class="d-flex">
        <li>
          <i class="devicon-angularjs-plain"></i>
        </li>
        <li>
          <i class="devicon-python-plain"></i>
        </li>
        <!-- <li>
          <i class="devicon-firebase-plain"></i>
        </li> -->
        <li>
          <i class="devicon-github-original"></i>
        </li>
        <li>
          <i class="devicon-linux-plain"></i>
        </li>
        <!-- <li>
          <i class="devicon-javascript-plain"></i>
        </li>
        <li>
          <i class="devicon-androidstudio-plain"></i>
        </li>
        <li>
          <i class="devicon-html5-plain"></i>
        </li>
        <li>
          <i class="devicon-css3-plain"></i>
        </li>
        <li>
          <i class="devicon-vscode-plain"></i>
        </li>
        <li>
          <i class="devicon-typescript-plain"></i>
        </li> -->
      </ul>
    </div>
  </div>

  <div class="resume__details">
    <div class="container">
      <h2>Resume</h2>
      <span class="seperator"></span>
      <p>
        I am self though front-end Web developer who is passionate about
        building awesome websites and applications, I have currently learned and
        used HTML, CSS, SCSS, Javascript and Angular-js. On personal level, I am
        self-driven and hard working. I am able to adapt very quick and overall
        I am very curious. Also, I am really friendly who can fit in any team.
        my current skills are:
      </p>
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sn-12">
          <h2>summary</h2>
          <div class="resume__resume-item">
            <h3>alex smith</h3>
            <i
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
              blanditiis, doloremque quis provident cumque laboriosam.</i
            >
            <ul>
              <li>Email: Lorem@pixel.com</li>
              <li>Phone: 123456789</li>
              <li>another info</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sn-12">
          <h2>summary</h2>
          <div class="resume__resume-item">
            <h3>alex smith</h3>
            <i
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
              blanditiis, doloremque quis provident cumque laboriosam.</i
            >
            <ul>
              <li>Email: Lorem@pixel.com</li>
              <li>Phone: 123456789</li>
              <li>another info</li>
              <li>another info</li>
              <li>another info</li>
              <li>another info</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sn-12">
          <h2>summary</h2>
          <div class="resume__resume-item">
            <h3>alex smith</h3>
            <i
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
              blanditiis, doloremque quis provident cumque laboriosam.</i
            >
            <ul>
              <li>Email: Lorem@pixel.com</li>
              <li>Phone: 123456789</li>
              <li>another info</li>
              <li>another info</li>
              <li>another info</li>
              <li>another info</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sn-12">
          <h2>summary</h2>
          <div class="resume__resume-item">
            <h3>alex smith</h3>
            <i
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
              blanditiis, doloremque quis provident cumque laboriosam.</i
            >
            <ul>
              <li>Email: Lorem@pixel.com</li>
              <li>Phone: 123456789</li>
              <li>another info</li>
              <li>another info</li>
              <li>another info</li>
              <li>another info</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
