<section class="resume" id="resume">
  <div class="resume__skills">
    <div class="container">
      <h2>skills</h2>
      <span class="seperator"> </span>

      <ul class="d-flex">
        <li>
          <i class="devicon-angularjs-plain"></i>
        </li>
        <li>
          <i class="devicon-react-original"></i>
        </li>
        <li>
          <i class="devicon-firebase-plain"></i>
        </li>
        <li>
          <i class="devicon-github-original"></i>
        </li>
      </ul>
    </div>

    <div class="resume__details">
      <div class="container">
        <h2>Resume</h2>
        <span class="seperator"></span>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae
          aliquid eligendi, quibusdam beatae natus reprehenderit consequuntur
          perferendis veritatis laborum, vero aperiam similique exercitationem
          autem nisi!
        </p>
        <div class="row">
          <div class="col-lg-6 col-md-12 col-sn-12">
            <h2>summary</h2>
            <div class="resume__resume-item">
              <h3>alex smith</h3>
              <i
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
                blanditiis, doloremque quis provident cumque laboriosam.</i>
                <ul>
                    <li>Email: Lorem@pixel.com</li>
                    <li>Phone: 123456789</li>
                    <li>another info</li>
                </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sn-12">
            <h2>summary</h2>
            <div class="resume__resume-item">
              <h3>alex smith</h3>
              <i
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
                blanditiis, doloremque quis provident cumque laboriosam.</i>
                <ul>
                    <li>Email: Lorem@pixel.com</li>
                    <li>Phone: 123456789</li>
                    <li>another info</li>
                    <li>another info</li>
                    <li>another info</li>
                    <li>another info</li>
                </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sn-12">
            <h2>summary</h2>
            <div class="resume__resume-item">
              <h3>alex smith</h3>
              <i
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
                blanditiis, doloremque quis provident cumque laboriosam.</i>
                <ul>
                    <li>Email: Lorem@pixel.com</li>
                    <li>Phone: 123456789</li>
                    <li>another info</li>
                    <li>another info</li>
                    <li>another info</li>
                    <li>another info</li>
                </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sn-12">
            <h2>summary</h2>
            <div class="resume__resume-item">
              <h3>alex smith</h3>
              <i
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
                blanditiis, doloremque quis provident cumque laboriosam.</i>
                <ul>
                    <li>Email: Lorem@pixel.com</li>
                    <li>Phone: 123456789</li>
                    <li>another info</li>
                    <li>another info</li>
                    <li>another info</li>
                    <li>another info</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
